html{
    width: 589px;
    height: 664px;
    top: -522px;
    left: 658px;
    gap: 10px;
    background-color: #FBFBFB;
}
hr{
    border: 1px solid #8B54FF;
    width: 521px;
}
.blank{
    margin-top: 120px;
    /* margin: 20px;
    padding: 20px; */
}
.top{
    font-size: 9px;
    color: #8B54FF;
    float: left;
    /* padding: 0px, 10px, 0px, 15px; */
}
.left{
    margin-left: 28px;
}
.right{
    margin-left: 300px;
}
.info{
    gap: 20px;
    /* text-align: left; */
    margin-left: 28px;
    cursor: text;
    margin-top: 10px;
}
#FullName{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 510px;
    height: 37px;
    top: 27px;
    margin-left: 28px;
}
#email{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 510px;
    height: 37px;
    top: 27px;
    margin-left: 28px;
}
#PhoneNumber{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 510px;
    height: 37px;
    top: 27px;
    margin-left: 28px;
}
#WorkplaceType{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 240px;
    height: 42px;
    top: 27px;    
}
#JobLocation{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 240px;
    height: 37px;
    top: 27px;
}
#EmploymentType{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 240px;
    height: 37px;
    top: 27px;
    margin-left: 28px;
}
#Submission{
    border: 1px solid #8B54FF;
    border-radius: 25px;
    width: 180px;
    height: 35px;
    top: 27px;
    margin-left: 28px;
    cursor: pointer;
    background-color: #8B54FF;
    color: #FBFBFB;
}
/* p{
    display: inline-block;
    text-align: center;
} */
.submit{
  margin-top: 27px;
}
.same{
    float: left;
}
.text{
    font-size: 9px;
    padding: 5px 17px;
    width: 250px;
}
.end{
    display: flex;
}
/* .whole{
    display: flex;
    justify-content: center;
} */